extends layout

block content
  div(class="nav")
    h1 #{title}
    if (user)
      h3(class="banner") Welcome to #{title} - <span class="username">#{user.username}</span>
      div(class="links")
        a(href="/") Home
        a(href="/logout") Log Out
      if (user && canPost)
        div
          form(class="post-form" method="POST")
            label(for="post") Post: 
            textarea(name="post" required)
            button Submit   
    else
      h3(class="banner") Welcome to #{title}
        div(class="links")
          a(href="/") Home
          a(href="/signup") Sign Up
          a(href="/login") Login
      div 
        h3 Please <a href="/login"> log in </a> if you have an existing account.
        h3 If not feel free to <a href="/signup">Sign up!</a>

      
    div(class="post-list")
      if posts.length === 0
        h1 There are no posts to be shown...
      else
        each post in posts
          div
            if (user)
              h3 #{post.author.username} -
            else 
              h3 Anonymous User -
            p #{post.content}

    if (user && admin.admin)
      p You are an admin!